body{
	margin:0;
	padding: 0;
	background:url('../images/banner.jpg');
	background-size: cover;

	opacity: 0.8;

}

.title a{
	text-decoration: none;
	font-size: 15px;
	line-height: 20px;
	color: #fb2525;
}

.title a:hover{
	color:#000;
}

.loginbox{
		width:320px;
		height: 580px;
		background: #000;
		color: #fff;
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%,-50%);
		box-sizing: border-box;
		padding: 70px 30px;
		margin-top: 30px;
		
}

.profile{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
h2{
	padding-bottom: 20px;
	margin-top: 0px;
	text-align: center;
	font-size: 20px;
}

.loginbox p{
	margin : 0;
	padding: 0;
	font-weight: bold;
}

.loginbox input{
	width: 100%;
	margin-bottom: 15px;
}


.loginbox input[type="password"], input[type="text"], input[type="email"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 30px;
	color: #fff;
	font-size: 13px;
}


.loginbox input[type="submit"]{
	border: none;
	background: #fb2525;
	outline: none;
	height: 30px;
	color: #fff;
	border-radius: 15px;
}

.loginbox input[type="submit"]:hover{
	cursor: pointer;
	background: #fff;
	color: #000;
}

.loginbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}

.loginbox a:hover{
	color:#ffc107;
}